<!DOCTYPE html>
<html>
  <head>
    <title>PatrickFlix - Watch the hottest, Patrick exclusive movies and tv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" >
      window.logo = "<%= image_url('patrickflix-logo.png') %>"
      window.big = "<%= image_url('logo-big.png') %>"
      window.icon = "<%= image_url('icon.png') %>"
      window.back_arrow = "<%= image_url('back_arrow.png') %>"
      window.forward_arrow = "<%= image_url('forward_arrow.png') %>"
      src="jquery-3.5.1.min.js"
    </script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
